<!DOCTYPE html>
<html>
<head>
  <title>Студия 7 утра | <%= yield(:title) %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<%= render 'ui/header' %>



<div class="container">
  <%= yield %>
</div>

<script type="text/javascript">
  $(document).ready(function(){ 
    $('.masonry').masonry({
// указываем элемент-контейнер в котором расположены блоки для динамической верстки
      itemSelector: '.postCard',
// указываем класс элемента являющегося блоком в нашей сетке
          singleMode: false,
// true - если у вас все блоки одинаковой ширины
      isResizable: false,
// перестраивает блоки при изменении размеров окна
      isAnimated: true,
// анимируем перестроение блоков
          animationOptions: { 
          queue: false, 
          duration: 500 
      }
// опции анимации - очередь и продолжительность анимации
    }); 
  });
</script>


<script type="text/javascript">
$( "table" ).addClass( "table table-hover table-bordered" );
</script>

</body>
</html>
